{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
{% if category %}
{{ category.description|truncatewords:155 }}
{% else %}
welcome to ABC where you can buy anything....
{% endif %}
{% endblock %}

{% block title %}
{% if category %}
{{ category.name }}--ABC store
{% else %}
See our products
{% endif %}
{% endblock %}

{% block content %}
{% if category %}

<div>
    <div class="row_my_class">
        <div class="mx-auto">
        <a href="{% url 'shop:allProdCat' %}">HOME</i></a>
    </div>
        </div>
</div>
{% endif %}
<div class="row">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" width="400" height="600">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
{% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/banner.jpg' %}" alt="our products" width="1400">
</div>
<br>
<div>
   <center> <h1 class="text-center my_title">OUR PRODUCT COLLECTION</h1></center>
    <p class="text-justify">"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
</div>
{% endif %}

<div class="container">
    <div class="row mx-auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9  col-sm-12  col-md-4 col-lg-4" >
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" width="400" height="250"></a>
                <div class="card-body">
                   <h4> {{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="container">
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
    {% endblock %}
